<div class="container">
    <div class="d-flex justify-content-end align-item-center">
        <a routerLink="/add-movie" class="btn btn-primary" style="margin: 1rem;">Add Movie</a>
    </div>
    <div class="card"   >
        <h2>Movies List</h2>
        <app-movies-list></app-movies-list>
    </div>
</div>
<!-- <div class="container" style="max-width: 600px; margin: 2rem auto;">
    <div class="card" style="padding: 2rem;">
      <h2 style="margin: 0 0 1.5rem;">Add Movie</h2>
      <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
        <div style="margin-bottom: 1rem;">
          <label for="name" style="display: block; margin-bottom: 0.5rem;">Movie Name</label>
          <input
            type="text"
            id="movieName"
            name="movieName"
            [(ngModel)]="movieName"
            required
            minlength="2"
            #movieNameInput="ngModel"
            style="width: 100%; padding: 0.5rem; border-radius: 4px; border: 1px solid"
            [style.borderColor]="movieNameInput.invalid && movieNameInput.touched ? 'red' : '#ddd'"
          >
          @if (movieNameInput.invalid && movieNameInput.touched) {
            <small style="color: red;">Name must be at least 2 characters long</small>
          }
        </div>

        <div style="margin-bottom: 1rem;">
            <label for="description" style="display: block; margin-bottom: 0.5rem;">Description</label>
            <input
              type="text"
              id="description"
              name="description"
              [(ngModel)]="description"
              required
              minlength="10"
              #descriptionInput="ngModel"
              style="width: 100%; padding: 0.5rem; border-radius: 4px; border: 1px solid"
              [style.borderColor]="descriptionInput.invalid && descriptionInput.touched ? 'red' : '#ddd'"
            >
            @if (descriptionInput.invalid && descriptionInput.touched) {
              <small style="color: red;">Description must be at least 10 characters long</small>
            }
          </div>
          <div style="margin-bottom: 1rem;">
            <label for="genre" style="display: block; margin-bottom: 0.5rem;">Genre</label>
            <input
              type="text"
              id="genre"
              name="genre"
              [(ngModel)]="genre"
              required

              #genreInput="ngModel"
              style="width: 100%; padding: 0.5rem; border-radius: 4px; border: 1px solid"
              [style.borderColor]="genreInput.invalid && genreInput.touched ? 'red' : '#ddd'"
            >
            @if (genreInput.invalid && genreInput.touched) {
              <small style="color: red;">Genre required</small>
            }
          </div>
          <div style="margin-bottom: 1rem;">
            <label for="director" style="display: block; margin-bottom: 0.5rem;">Director</label>
            <input
              type="text"
              id="director"
              name="description"
              [(ngModel)]="director"
              required
              minlength="2"
              #directorInput="ngModel"
              style="width: 100%; padding: 0.5rem; border-radius: 4px; border: 1px solid"
              [style.borderColor]="directorInput.invalid && directorInput.touched ? 'red' : '#ddd'"
            >
            @if (directorInput.invalid && directorInput.touched) {
              <small style="color: red;">Director must be at least 2 characters long</small>
            }
          </div>
          <div style="margin-bottom: 1rem;">
            <label for="duration" style="display: block; margin-bottom: 0.5rem;">Duration</label>
            <input
              type="text"
              id="duration"
              name="duration"
              [(ngModel)]="duration"
              required
              
              #durationInput="ngModel"
              style="width: 100%; padding: 0.5rem; border-radius: 4px; border: 1px solid"
              [style.borderColor]="durationInput.invalid && durationInput.touched ? 'red' : '#ddd'"
            >
            @if (durationInput.invalid && durationInput.touched) {
              <small style="color: red;">Duration required (in min)</small>
            }
          </div>
          <div style="margin-bottom: 1rem;">
            <label for="rating" style="display: block; margin-bottom: 0.5rem;">Rating</label>
            <input
              type="text"
              id="rating"
              name="rating"
              [(ngModel)]="rating"
              required
              
              #ratingInput="ngModel"
              style="width: 100%; padding: 0.5rem; border-radius: 4px; border: 1px solid"
              [style.borderColor]="ratingInput.invalid && ratingInput.touched ? 'red' : '#ddd'"
            >
            @if (ratingInput.invalid && ratingInput.touched) {
              <small style="color: red;">Rating required</small>
            }
          </div>
       

        @if (error) {
          <div style="color: red; margin-bottom: 1rem;">{{ error }}</div>
        } 

        <div class="d-flex justify-content-around align-item-center">
        <button 
          type="submit" 
          class="btn btn-primary" 
          style="width: 100%;"
          [disabled]="signupForm.invalid"
        >
          Add Movie
        </button>
        <button 
        type="button" 
        class="btn btn-secondary" 
        style="width: 100%; "
       routerLink="/movies-list"
      >
        Cancel
      </button>
    </div>
       
      </form>
    </div>
  </div>
 -->