@if (movie) {
<div class="movie-details" style="padding: 2rem 0;">
  <div class="card" style="display: flex; gap: 2rem; padding: 2rem;">
    <img [src]="movie.imageUrl?movie.imageUrl:'https://picsum.photos/300/400'" [alt]="movie.movieName"
      style="width: 300px; height: 450px; object-fit: cover; border-radius: 8px;">
    <div class="movie-info">
      <h1 style="margin: 0 0 1rem;">{{ movie.movieName }}</h1>
      <p style="font-size: 1.1rem; margin-bottom: 1rem;">{{ movie.description }}</p>
      <div style="margin-bottom: 2rem;">
        <p><strong>Genre:</strong> {{ movie?.genre }}</p>
        <p><strong>Director:</strong> {{ movie?.director }}</p>
        <p><strong>Duration:</strong> {{ movie.duration }} mins</p>
        <p><strong>Rating:</strong> {{ movie.rating }}</p>
        <p><strong>Language:</strong> {{ movie.language }}</p>
        <p><strong>Release Date:</strong> {{ movie.releaseDate | date:'MMM dd YYYY' }}</p>
      </div>
      @if (authService.isLoggedIn().id) {
      <button class="btn btn-primary" [routerLink]="['/booking',movie.id]">Book Tickets</button>
      } @else {
      <button class="btn btn-primary" (click)="login()">Login to Book Tickets</button>
      }
      <a href="/" class="btn" style="margin-left: 1rem;">Back to Movies</a>
    </div>
  </div>
</div>
} @else {
<div style="padding: 2rem 0;">
  <h2>Movie not found</h2>
  <a href="/" class="btn btn-primary">Back to Movies</a>
</div>
}